[["pearson-tos-1" :tos/full-text "Terms of use | Legal information | Pearson 

 For School

 For University

 For Work

 Explore Pearson

 All countries

 United States

 Canada

 United Kingdom

 All countries

 For School

 For University

 For Work

 Explore Pearson

 Cart 

 Home 

 > 

 Terms of use 

 Terms of Use 

 This Pearson website is published \"as is\" without any warranty of any kind, express or implied, as to the operation of our site, the accuracy of the information or the products or services referred to on the website and we shall not be liable for any losses or damage that may result from use of the website as a consequence of any inaccuracies in, or any omissions from, the information which it may contain. 
 Other Pearson and third-party websites, webpages, digital products and services linked to or from this website may have different terms of use, so please be sure to check the policies and terms applicable to such other sites, pages, products or services prior to use. 
 The information contained in the website is not an invitation to invest in the shares or any other products or services or otherwise deal in these or enter into a contract with Pearson plc or any other company. The information provided should not be relied upon in connection with any investment decision. 
 The past performance of Pearson plc or any other company referred to in the website cannot be relied upon as a guide to its future performance. Except for the historical information contained herein, the matters covered on this website may include forward-looking statements that involve risk and uncertainties that could cause actual results to differ materially from those predicted by such forward-looking statements. These risks and uncertainties include international, national and local conditions, as well as competition. They also include other risks detailed from time to time in the company's publicly-filed documents, including the company's most recent Annual Report on form 20-F. The company undertakes no obligation to publicly update any forward-looking statement, whether as a result of new information, future events or otherwise. 
 Copyright in these pages is owned by Pearson plc or other members of the Pearson group of companies, or their licensors, except where otherwise indicated by a third party's proprietary notice. Images, trade marks and brands are also protected by other intellectual property laws and may not be reproduced or appropriated in any manner without written permission of their respective owners. \"Pearson\" is a registered trade mark of Pearson plc. 
 Content and information provided by third parties other than the Pearson group of companies is identified clearly where it appears. We publish this content as supplied to us and are not responsible for its accuracy or timeliness. 
 Pearson accepts no responsibility for content on any website belonging to a company outside of the Pearson group of companies to which a hypertext link from this site exists, or for use of personal data by the third party operating such a website. Any such links are provided \"as is\" with no warranty, express or implied, for the information provided within them. 
 These terms of use are governed by the laws of England and Wales and you agree that the English courts shall have exclusive jurisdiction in any dispute. 
 Last Update: November 15, 2019 

 Contact 
 pearson.digicomms@pearson.com 
 Pearson PLC, Registered in England at 80 Strand, London WC2R 0RL. Company number: 53723. 

 All countries

 United States

 Canada

 United Kingdom

 All countries

 Explore 

 School

 University

 Work

 Major Businesses 

 Assessments

 Higher Education

 International Schools

 Languages

 Pearson VUE

 Virtual Schools

 Workforce & Career Development

 About Pearson 

 Our Company

 Investor Relations

 Careers

 Our Employee Experience

 Efficacy & Research

 Power of Learning

 Terms of Use

 Privacy

 Cookies

 Accessibility

 Patent Notice

 © 1996–2026 Pearson All rights reserved, including those for text and data mining and training of artificial intelligence and similar technologies." 1 :add]
 ["pearson-tos-1" :tos/source-url "https://www.pearson.com/legal-information/terms-of-use.html" 1 :add]
 ["pearson-tos-1" :tos/retrieved-at "2026-07-10T11:02:24Z" 1 :add]
 ["pearson-tos-1" :tos/sha256 "dfc25481e85c5009a6524830b3c12b3beae0ce67fd6b83ffcc84f6f27d15d2d6" 1 :add]
 ["pearson-tos-1" :tos/doc-type :terms-of-service 1 :add]]
